In [2]:
import sqlite3
from sqlite3 import Error
import csv
import pandas as pd
SHOW = True

In [3]:
df = pd.read_csv('US_Accidents_Dec20_updated.csv')
df

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-2716600,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.10891,-83.09286,40.11206,-83.03187,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2716601,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.86542,-84.06280,39.86501,-84.04873,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-2716602,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10266,-84.52468,39.10209,-84.52396,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-2716603,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10148,-84.52341,39.09841,-84.52241,0.219,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
4,A-2716604,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.06213,-81.53784,41.06217,-81.53547,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516059,A-4239402,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.00248,-117.37936,33.99888,-117.37094,0.543,At Market St - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
1516060,A-4239403,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.76696,-117.14806,32.76555,-117.15363,0.338,At Camino Del Rio/Mission Center Rd - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
1516061,A-4239404,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.77545,-117.84779,33.77740,-117.85727,0.561,At Glassell St/Grand Ave - Accident. in the ri...,...,False,False,False,False,False,False,Day,Day,Day,Day
1516062,A-4239405,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.99246,-118.40302,33.98311,-118.39565,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
1516063,A-4239406,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.13393,-117.23092,34.13736,-117.23934,0.537,At Highland Ave/Arden Ave - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day

In [4]:
df.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [10]:
df['Temperature(F)'].unique()

array([ 4.210e+01,  3.690e+01,  3.600e+01,  3.900e+01,  3.700e+01,
        3.560e+01,  3.380e+01,  3.310e+01,  3.200e+01,  3.510e+01,
        3.400e+01,  3.340e+01,  2.800e+01,  2.660e+01,  2.500e+01,
        2.300e+01,  2.100e+01,  1.900e+01,  2.120e+01,  2.190e+01,
        1.940e+01,  2.250e+01,  2.410e+01,  3.020e+01,  3.180e+01,
        3.000e+01,  2.890e+01,  3.090e+01,  1.990e+01,  1.580e+01,
        1.710e+01,  1.220e+01,  1.400e+01,  1.530e+01,  1.760e+01,
        2.480e+01,  1.800e+01,  1.600e+01,  7.000e+00,  1.200e+01,
        1.510e+01,  9.000e+00,  9.100e+00,  1.650e+01,  1.290e+01,
        1.000e+01,  6.100e+00,  8.100e+00,  5.000e+00,  3.000e+00,
              nan,  2.280e+01,  2.520e+01,  2.700e+01,  2.430e+01,
        2.570e+01,  2.980e+01,  3.220e+01,  2.840e+01,  3.300e+01,
        3.790e+01,  3.240e+01,  3.270e+01,  1.090e+01,  4.300e+01,
        3.990e+01,  5.110e+01,  4.690e+01,  4.800e+01,  3.740e+01,
        5.310e+01,  6.400e+01,  5.000e+01,  4.890e+01,  6.100e+01,
        5.360e+01,  5.700e+01,  6.170e+01,  5.400e+01,  6.010e+01,
        6.490e+01,  5.200e+01,  6.690e+01,  5.790e+01,  6.300e+01,
        5.590e+01,  6.910e+01,  6.800e+01,  3.490e+01,  2.620e+01,
        3.420e+01,  4.600e+01,  4.410e+01,  2.610e+01,  3.920e+01,
        5.540e+01,  5.500e+01,  4.010e+01,  4.620e+01,  4.100e+01,
        4.280e+01,  3.290e+01,  4.640e+01,  4.500e+01,  3.250e+01,
        3.130e+01,  3.160e+01,  2.910e+01,  2.770e+01,  3.110e+01,
        4.460e+01,  2.750e+01,  4.820e+01,  4.770e+01,  6.260e+01,
        4.960e+01,  5.340e+01,  5.830e+01,  5.900e+01,  6.600e+01,
        6.210e+01,  7.000e+01,  7.110e+01,  7.390e+01,  7.200e+01,
        6.820e+01,  7.300e+01,  6.440e+01,  5.580e+01,  5.720e+01,
        6.080e+01,  7.700e+01,  5.180e+01,  5.810e+01,  5.850e+01,
        4.710e+01,  4.750e+01,  3.970e+01,  5.610e+01,  5.670e+01,
        6.620e+01,  5.380e+01,  6.040e+01,  7.500e+01,  8.010e+01,
        5.680e+01,  3.780e+01,  4.660e+01,  6.120e+01,  3.670e+01,
        6.980e+01,  7.160e+01,  7.070e+01,  6.760e+01,  6.480e+01,
        6.420e+01,  5.040e+01,  7.900e+01,  5.520e+01,  7.520e+01,
        7.340e+01,  7.590e+01,  7.810e+01,  6.730e+01,  8.290e+01,
        8.060e+01,  8.100e+01,  8.400e+01,  7.880e+01,  8.240e+01,
        8.420e+01,  8.800e+01,  8.200e+01,  8.600e+01,  8.490e+01,
        8.710e+01,  6.510e+01,  8.780e+01,  9.100e+01,  8.260e+01,
        6.220e+01,  7.360e+01,  5.320e+01,  6.840e+01,  5.560e+01,
        7.100e+01,  8.960e+01,  8.910e+01,  9.000e+01,  9.140e+01,
        9.190e+01,  5.650e+01,  9.300e+01,  9.320e+01,  9.390e+01,
        9.610e+01,  9.500e+01,  8.690e+01,  6.850e+01,  6.280e+01,
        8.460e+01,  7.990e+01,  8.620e+01,  6.570e+01,  9.700e+01,
        9.900e+01,  9.860e+01,  9.810e+01,  1.000e+02,  1.029e+02,
        7.970e+01,  1.020e+02,  6.310e+01,  9.680e+01,  1.009e+02,
        1.004e+02,  1.010e+02,  7.830e+01,  6.670e+01,  7.630e+01,
        7.430e+01,  7.140e+01,  7.120e+01,  3.940e+01,  4.590e+01,
        5.070e+01,  8.300e+01,  7.740e+01,  7.920e+01,  7.410e+01,
        6.460e+01,  6.000e+01,  5.450e+01,  5.800e+01,  5.600e+01,
        5.290e+01,  5.300e+01,  5.490e+01,  4.840e+01,  7.180e+01,
        7.720e+01,  5.970e+01,  8.640e+01,  7.090e+01,  9.200e+01,
        6.710e+01,  6.390e+01,  5.940e+01,  7.400e+01,  8.040e+01,
        8.510e+01,  8.470e+01,  4.910e+01,  7.470e+01,  8.170e+01,
        7.020e+01,  7.320e+01,  6.640e+01,  4.900e+01,  6.200e+01,
        6.890e+01,  5.100e+01,  6.750e+01,  7.930e+01,  6.700e+01,
        7.600e+01,  6.060e+01,  6.900e+01,  9.050e+01,  6.940e+01,
        7.210e+01,  8.380e+01,  8.130e+01,  5.880e+01,  7.290e+01,
        7.950e+01,  6.780e+01,  6.660e+01,  6.550e+01,  7.030e+01,
        6.190e+01,  5.950e+01,  6.930e+01,  6.500e+01,  8.000e+01,
        6.240e+01,  7.450e+01,  7.800e+01,  7.770e+01,  6.370e+01,
        1.071e+02,  8.080e+01,  7.570e+01,  7.560e+01,  1.040e+02,
        8.280e+01,  8.440e+01,  7.840e+01,  7.050e+01,  7.790e+01,
        8.500e+01,  8.700e+01,  8.900e+01,  9.160e+01,  1.022e+02,
        1.051e+02,  1.076e+02,  1.058e+02,  1.119e+02,  1.011e+02,
        1.080e+02,  3.810e+01,  3.830e+01,  3.580e+01,  3.800e+01,
        3.540e+01,  5.770e+01,  5.430e+01,  4.860e+01,  4.780e+01,
        4.550e+01,  2.880e+01,  4.730e+01,  4.350e+01,  3.070e+01,
        2.820e+01,  1.330e+01,  2.390e+01,  2.140e+01,  3.880e+01,
        4.140e+01,  4.570e+01,  8.600e+00,  1.130e+01,  3.900e+00,
        2.030e+01,  6.800e+00,  1.560e+01,  3.650e+01,  1.850e+01,
        1.670e+01,  3.360e+01,  1.920e+01,  3.720e+01,  3.470e+01,
        3.200e+00,  4.800e+00,  1.720e+01,  2.300e+00,  4.030e+01,
        1.900e+00,  1.000e+00, -4.000e-01, -9.000e-01, -2.000e+00,
       -0.000e+00,  5.500e+00,  4.100e+00,  1.040e+01, -9.400e+00,
       -9.900e+00,  7.700e+00, -1.160e+01, -7.100e+00, -6.000e+00,
       -1.100e+01, -5.100e+00, -1.190e+01, -8.500e+00, -8.000e+00,
        2.640e+01,  4.190e+01,  5.020e+01,  6.300e+00, -9.000e+00,
        1.180e+01,  2.170e+01,  2.530e+01,  1.450e+01,  1.270e+01,
        8.200e+00,  2.930e+01,  5.470e+01,  5.760e+01, -4.000e+00,
       -2.900e+00, -2.200e+00,  1.400e+00, -1.500e+01, -1.610e+01,
       -1.800e+01, -1.410e+01, -7.600e+00,  1.490e+01,  1.830e+01,
        2.050e+01,  4.700e+01,  3.630e+01,  4.370e+01,  4.240e+01,
        4.170e+01,  4.150e+01,  3.610e+01,  4.680e+01,  4.320e+01,
        4.390e+01,  5.270e+01,  3.870e+01,  5.160e+01,  9.500e+00,
        2.550e+01,  5.220e+01,  7.680e+01,  4.440e+01,  4.330e+01,
        2.340e+01,  5.130e+01,  2.370e+01,  3.520e+01,  5.700e+00,
        2.260e+01, -5.800e+00, -1.300e+01,  9.900e+00, -1.120e+01,
        5.000e-01,  1.700e+01,  1.110e+01,  2.010e+01,  1.690e+01,
       -6.200e+00, -8.100e+00,  1.740e+01,  1.780e+01,  4.980e+01,
        5.860e+01,  2.440e+01,  5.920e+01,  6.030e+01,  1.260e+01,
        7.480e+01,  7.230e+01,  2.230e+01,  6.580e+01, -1.340e+01,
       -1.070e+01,  6.870e+01, -6.900e+00,  6.600e+00,  2.680e+01,
        3.150e+01,  2.970e+01,  4.930e+01,  4.420e+01,  5.140e+01,
        5.090e+01,  4.510e+01,  6.350e+01,  4.260e+01,  8.220e+01,
        1.060e+01,  2.950e+01,  6.960e+01,  3.960e+01,  4.080e+01,
        5.410e+01,  1.274e+02,  7.250e+01,  6.330e+01,  4.480e+01,
        7.750e+01,  6.530e+01,  4.120e+01,  6.150e+01,  4.530e+01,
        7.270e+01,  3.450e+01,  3.430e+01,  5.740e+01,  4.230e+01,
        5.630e+01,  7.610e+01,  4.950e+01,  2.210e+01,  4.870e+01,
        4.200e+01,  3.330e+01,  3.760e+01,  5.050e+01,  2.710e+01,
        9.090e+01,  8.870e+01,  9.070e+01,  8.980e+01,  7.660e+01,
        8.020e+01,  9.340e+01,  7.650e+01,  9.010e+01,  8.110e+01,
        9.180e+01,  5.230e+01,  8.370e+01,  7.540e+01,  5.990e+01,
        8.760e+01,  8.330e+01,  5.250e+01,  7.380e+01,  6.130e+01,
        1.292e+02,  8.830e+01,  1.184e+02,  8.820e+01,  8.550e+01,
        9.570e+01,  9.720e+01,  9.250e+01,  9.360e+01,  9.030e+01,
        8.580e+01,  9.370e+01,  9.430e+01,  9.730e+01,  8.890e+01,
        8.350e+01,  1.015e+02,  8.530e+01,  8.920e+01,  9.460e+01,
        8.560e+01,  7.860e+01,  8.150e+01,  8.730e+01,  9.280e+01,
        8.650e+01,  9.410e+01,  8.190e+01,  8.850e+01,  9.600e+01,
        9.480e+01,  9.400e+01,  9.800e+01,  9.120e+01,  9.230e+01,
        9.540e+01,  9.880e+01,  9.640e+01,  8.940e+01,  9.550e+01,
        9.660e+01,  9.210e+01,  9.450e+01,  3.850e+01,  4.060e+01,
        4.050e+01,  2.350e+01,  2.590e+01,  3.060e+01,  1.870e+01,
        1.810e+01,  2.200e+01,  1.620e+01,  2.860e+01,  1.310e+01,
        1.150e+01,  1.890e+01,  1.020e+01,  7.300e+00,  1.380e+01,
       -6.000e-01,  4.600e+00,  5.900e+00,  1.170e+01,  1.350e+01,
        1.240e+01,  4.500e+00,  1.440e+01,  2.320e+01,  2.730e+01,
        1.980e+01, -1.700e+00, -2.600e+00, -2.400e+00, -9.600e+00,
        3.700e+00, -8.900e+00,  6.400e+00,  2.070e+01,  1.080e+01,
        1.470e+01,  3.040e+01,  2.160e+01, -7.200e+00,  8.400e+00,
        2.400e+01,  1.540e+01,  2.460e+01,  1.360e+01,  9.700e+00,
        3.100e+01,  1.420e+01,  2.000e+01,  4.400e+01,  8.670e+01,
        8.310e+01,  9.270e+01,  8.740e+01,  9.590e+01,  9.520e+01,
        9.790e+01,  2.900e+01, -2.020e+01,  3.500e+01,  4.000e+01,
       -5.000e+00,  1.960e+01,  2.080e+01,  7.900e+00,  2.790e+01,
        1.300e+01,  1.060e+02,  9.840e+01,  1.094e+02,  1.141e+02,
        1.090e+02,  1.112e+02,  1.130e+02,  1.110e+02,  1.069e+02,
        1.098e+02,  1.099e+02,  1.006e+02,  1.002e+02,  1.072e+02,
        9.930e+01,  8.000e+00,  1.047e+02,  9.990e+01,  1.008e+02,
        1.049e+02,  1.024e+02,  9.770e+01,  1.027e+02,  1.026e+02,
        1.035e+02,  1.070e+02,  1.150e+02,  9.750e+01,  1.017e+02,
        1.100e+01,  9.300e+00,  1.500e+01,  2.600e+01,  1.180e+02,
        1.161e+02,  1.166e+02,  1.148e+02,  1.170e+02,  1.054e+02,
        1.044e+02,  1.018e+02,  1.096e+02,  9.950e+01,  1.013e+02,
        1.063e+02,  1.065e+02,  1.030e+02,  6.000e+00, -1.000e+00,
        2.000e+00, -3.000e+00,  4.000e+00, -5.800e+01,  1.050e+02,
       -7.000e+00, -1.000e+01, -5.000e+01, -1.700e+01, -1.400e+01,
        1.100e+02, -8.900e+01, -2.000e+01, -2.700e+01, -2.400e+01,
       -2.200e+01, -2.600e+01, -1.600e+01, -1.900e+01, -1.200e+01,
       -2.500e+01, -1.590e+01, -1.280e+01,  1.800e+00,  1.200e+00,
       -4.200e+00, -1.100e+00,  2.500e+00,  5.400e+00, -1.480e+01,
        1.706e+02,  1.630e+01, -9.800e+00, -2.000e-01,  7.500e+00,
       -2.090e+01, -2.330e+01, -1.890e+01, -2.310e+01, -2.560e+01,
       -2.240e+01, -2.380e+01, -6.700e+00,  3.400e+00, -1.080e+01,
        9.000e-01, -4.900e+00, -1.390e+01, -2.700e+00,  7.200e+00,
       -3.500e+00,  2.800e+00, -4.400e+00, -1.300e+00, -3.600e+00,
       -9.200e+00, -5.300e+00, -6.300e+00,  1.000e-01, -1.800e+00,
       -1.660e+01, -2.510e+01, -2.900e+01, -2.650e+01, -1.350e+01,
       -1.440e+01, -1.930e+01, -1.820e+01, -1.840e+01, -2.790e+01,
       -2.740e+01, -2.110e+01, -2.130e+01, -1.790e+01,  9.630e+01,
        1.036e+02,  1.033e+02,  9.970e+01,  1.688e+02,  1.101e+02,
        1.038e+02,  1.053e+02,  1.042e+02,  1.085e+02, -4.000e+01,
       -4.500e+00,  7.000e-01,  2.700e+00,  4.300e+00,  3.600e+00,
       -1.500e+00, -7.800e+00, -1.210e+01, -1.030e+01, -1.140e+01,
        8.800e+00, -8.000e-01, -5.600e+00, -8.300e+00, -7.780e+01,
       -3.800e+00, -1.530e+01, -1.230e+01,  9.820e+01,  9.910e+01,
        1.120e+02])

In [21]:
df1 = df[['ID','Start_Time','County','State','Severity','Start_Lat','Start_Lng', 'Sunrise_Sunset']]
df1['Start_Time']= pd.to_datetime(df['Start_Time'])
df1['Weekday']= df1['Start_Time'].dt.weekday # Monday = 0, Sunday = 6
df1['Hour'] = df1['Start_Time'].dt.hour
df1['Month'] = df1['Start_Time'].dt.month
df1

<ipython-input-21-9ff035bee2b0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Start_Time']= pd.to_datetime(df['Start_Time'])
<ipython-input-21-9ff035bee2b0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Weekday']= df1['Start_Time'].dt.weekday # Monday = 0, Sunday = 6
<ipython-input-21-9ff035bee2b0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Hour'] = df1['Start_Time'].dt.hour
<ipython-input-21-9ff035bee2b0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Month'] = df1['Start_Time'].dt.month

,ID,Start_Time,County,State,Severity,Start_Lat,Start_Lng,Sunrise_Sunset,Weekday,Hour,Month
0,A-2716600,2016-02-08 00:37:08,Franklin,OH,3,40.10891,-83.09286,Night,0,0,2
1,A-2716601,2016-02-08 05:56:20,Montgomery,OH,2,39.86542,-84.06280,Night,0,5,2
2,A-2716602,2016-02-08 06:15:39,Hamilton,OH,2,39.10266,-84.52468,Night,0,6,2
3,A-2716603,2016-02-08 06:15:39,Hamilton,OH,2,39.10148,-84.52341,Night,0,6,2
4,A-2716604,2016-02-08 06:51:45,Summit,OH,2,41.06213,-81.53784,Night,0,6,2
...,...,...,...,...,...,...,...,...,...,...,...
1516059,A-4239402,2019-08-23 18:03:25,Riverside,CA,2,34.00248,-117.37936,Day,4,18,8
1516060,A-4239403,2019-08-23 19:11:30,San Diego,CA,2,32.76696,-117.14806,Day,4,19,8
1516061,A-4239404,2019-08-23 19:00:21,Orange,CA,2,33.77545,-117.84779,Day,4,19,8
1516062,A-4239405,2019-08-23 19:00:21,Los Angeles,CA,2,33.99246,-118.40302,Day,4,19,8
1516063,A-4239406,2019-08-23 18:52:06,San Bernardino,CA,2,34.13393,-117.23092,Day,4,18,8

In [22]:
df1 = df1.dropna()

In [23]:
print(df1.dtypes)

ID                        object
Start_Time        datetime64[ns]
County                    object
State                     object
Severity                   int64
Start_Lat                float64
Start_Lng                float64
Sunrise_Sunset            object
Weekday                    int64
Hour                       int64
Month                      int64
dtype: object

In [24]:
##################### DATA CLEANING #####################
df1.to_csv("data_final_project.csv")

In [42]:
df_4states = df1[df1['State'].isin(['CA', 'FL', 'TX', 'GA'])]
df_4states

,ID,Start_Time,County,State,Severity,Start_Lat,Start_Lng,Sunrise_Sunset,Weekday,Hour,Month
1012,A-2717612,2016-03-22 18:53:11,El Dorado,CA,3,38.825840,-120.029214,Day,1,18,3
1013,A-2717613,2016-03-22 19:00:49,Santa Clara,CA,2,37.358209,-121.840017,Day,1,19,3
1014,A-2717614,2016-03-22 20:07:32,Alameda,CA,3,37.881943,-122.307987,Night,1,20,3
1015,A-2717615,2016-03-22 21:40:18,Alameda,CA,2,37.881038,-122.307788,Night,1,21,3
1016,A-2717616,2016-03-22 21:36:42,Sacramento,CA,2,38.518811,-121.101664,Night,1,21,3
...,...,...,...,...,...,...,...,...,...,...,...
1516059,A-4239402,2019-08-23 18:03:25,Riverside,CA,2,34.002480,-117.379360,Day,4,18,8
1516060,A-4239403,2019-08-23 19:11:30,San Diego,CA,2,32.766960,-117.148060,Day,4,19,8
1516061,A-4239404,2019-08-23 19:00:21,Orange,CA,2,33.775450,-117.847790,Day,4,19,8
1516062,A-4239405,2019-08-23 19:00:21,Los Angeles,CA,2,33.992460,-118.403020,Day,4,19,8
1516063,A-4239406,2019-08-23 18:52:06,San Bernardino,CA,2,34.133930,-117.230920,Day,4,18,8

In [43]:
##################### DATA CLEANING #####################
df_4states.to_csv("data_final_project_4states.csv")

In [25]:
df2 = df1['State'].value_counts().rename_axis('State').to_frame('Counts')
df2

       Counts
State
CA     448828
FL     153005
OR      87482
TX      75142
NY      60947
MN      52343
VA      51198
NC      50159
PA      42844
IL      41708
MD      35319
UT      33218
GA      31111
AZ      30185
NJ      29850
SC      28090
MI      27775
WA      22999
OH      22044
TN      21874
CO      19808
LA      19250
MO      16949
CT      15194
IN      11731
AL       9375
WI       7919
MA       6121
KY       5671
OK       5592
KS       5146
IA       4779
AR       4373
ID       4061
NH       3826
RI       3766
DC       3752
NV       3681
MT       3306
WV       3242
MS       2790
DE       2331
ME       2202
NE       2178
NM       1467
ND        455
VT        352
WY        330
SD        213

In [34]:
df_CA = df1[df1['State'] =='CA']
df_FL = df1[df1['State'] =='FL']
df_TX = df1[df1['State'] =='TX']
df_GA = df1[df1['State'] =='GA']

df_CA_count = df_CA['County'].value_counts().rename_axis('County').to_frame('Counts')
df_CA_count["State"] = 'CA'

df_FL_count = df_FL['County'].value_counts().rename_axis('County').to_frame('Counts')
df_FL_count["State"] = 'FL'

df_TX_count = df_TX['County'].value_counts().rename_axis('County').to_frame('Counts')
df_TX_count["State"] = 'TX'

df_GA_count = df_GA['County'].value_counts().rename_axis('County').to_frame('Counts')
df_GA_count["State"] = 'GA'

In [36]:
result = pd.concat([df_CA_count.iloc[:10],df_FL_count.iloc[:10],df_TX_count.iloc[:10],df_GA_count.iloc[:10]], axis=0)

In [37]:
result

                Counts State
County
Los Angeles     138817    CA
San Bernardino   30251    CA
Orange           29670    CA
San Diego        26623    CA
Sacramento       25941    CA
Alameda          25285    CA
Riverside        24707    CA
Santa Clara      18772    CA
Contra Costa     12953    CA
Kern             10101    CA
Miami-Dade       47382    FL
Orange           18703    FL
Broward          12421    FL
Hillsborough      9640    FL
Duval             7567    FL
Palm Beach        6456    FL
Pinellas          6244    FL
Manatee           3838    FL
Lee               3535    FL
Sarasota          3277    FL
Dallas           23570    TX
Harris           23053    TX
Travis            7705    TX
Tarrant           6568    TX
Bexar             3974    TX
El Paso           2589    TX
Collin            1077    TX
Denton             991    TX
Smith              828    TX
Williamson         495    TX
Fulton            8793    GA
DeKalb            5001    GA
Cobb              2375    GA
Clayton           1483    GA
Gwinnett          1455    GA
Henry              764    GA
Chatham            586    GA
Richmond           448    GA
Douglas            443    GA
Coweta             439    GA

In [38]:
result.to_csv('Accident_Count_Per_Top10County&State.csv')